/* GENERAL */
body, h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Be Vietnam';
    src: url(../../resources/fonts/be-vietnam/BeVietnam-Regular.ttf);
}

@font-face {
    font-family: 'Be Vietnam Bold';
    src: url(../../resources/fonts/be-vietnam/BeVietnam-Bold.ttf);
}
/* GENERAL */


/* ROWS AND COLUMN - GENERAL */
.colWrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1149px;
    margin: 0 auto;
}

.rowItem {
    width: 100%;
    padding: 40px 0;
}
/* ROWS AND COLUMN - GENERAL */


/* TEXTS */
.textItem {
    font-family: 'Be Vietnam';
    font-weight: 200;
    color:	#9095a7;
    width: 100%;
    padding: 8px 0;
    margin: 2px 0;
}

.headItem {
    font-family: 'Be Vietnam Bold';
    padding: 8px 0;
    margin: 2px 0;
    color: #242d52;
    line-height: 1.2;
    letter-spacing: -1px;
}
/* TEXTS */


/* IMAGES */
.imgItem img {
    width: 100%;
    display: block;
}
/* IMAGES */


/* BUTTONS */
.btnItem {
    width: 140px;
    height: 40px;
    background-color: #f25f3a;
    border-radius: 50px;
    box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.15);
    font-family: 'Be Vietnam';
    font-size: 13px;
    font-weight: 600;
    text-align: center;
}

.btnItem a {
    color: white;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnItem:hover {
    opacity: 0.7;
}
/* BUTTONS */


/* HEADER */
.headerItem .navItem ul li {
    padding: 10px;
}

.headerItem .navItem ul li a {
    text-decoration: none;
    color: #242d52;
}

.headerItem .navItem ul li a:hover {
    color:	#9095a7;
}
/* HEADER */


/* SECTION 2 */
.numItem {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Be Vietnam';
    font-size: 13px;
    font-weight: 600;
    color: white;
    background-color: #f25f3a;
    width: 60px;
    height: 30px;
    border-radius: 50px;
}
/* SECTION 2 */


/* SECTION 3 */
.sect-3 .colItem .imgItem, .sect-3 .colItem .headItem, .sect-3 .colItem .paraItem, .sect-3 .colItem .btnItem {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
/* SECTION 3 */


/* SECTION 4 */
.sectFoot-1 .btnItem a {
    color: #f25f3a !important;
}
/* SECTION 4 */


/* SECTION 5 */
.sectFoot-2 {
    background-color: #1d1e25;
}

.socialIcons {
    display: flex;
    flex-direction: row;
}


.sectFoot-2 .colItem {
    margin-top: 0;
    margin-bottom: 0;
}

.sectFoot-2 .navItem ul {
    list-style-type: none;
    margin-top: 0;
}

.sectFoot-2 .navItem ul a {
    color: white;
    text-decoration: none;
}

.sectFoot-2 .navItem ul a:hover {
    color: #f25f3a !important;
}

.sectFoot-2 .navItem ul li {
    padding: 6px 0;
}

.sectFoot-2 .textItem{
    padding: 0;
}

.newsletterWrapper {
    display: flex;
    flex-direction: row;
}

[contentEditable=true]:empty:not(:focus):before{
    content:attr(data-text)
}
/* SECTION 5 */